:root {
    --bg-body: #1c2641; /* глубокий тёмный фон */
    --bg-surface: #384566; /* поверхности карточек */
    --text-primary: #dbdee7; /* основной текст (светлый серо-голубой) */
    --text-secondary: #6a7997; /* второстепенный текст (приглушённый серо-синий) – для менее важной информации */
    --accent: #d691c4; /* акцент (спокойный розовый) – кнопки, ссылки */
    --accent-hover: #dd3783; /* акцент при наведении (чуть ярче) */
    --danger: #dd3783; /* опасные действия (яркий розовый) */
    --danger-hover: #73255a; /* опасные действия при наведении (тёмный бордовый) */
    --border: #474e86; /* границы элементов */
    --success-bg: #0eb5e9; /* фон для успеха */
    --success-text: #1c2641; /* текст на фоне успеха */
    --warning-bg: #d691c4; /* фон для предупреждения (мягкий розовый) */
    --warning-text: #1c2641; /* текст на фоне предупреждения */
    --error-bg: #73255a; /* фон для ошибки */
    --error-text: #dbdee7; /* текст на фоне ошибки */

    --chart-color-5: #E9D5FF;
    --chart-color-4: #D8B4FE;
    --chart-color-6: #C084FC;
    --chart-color-3: #A855F7;
    --chart-color-7: #9333EA;
    --chart-color-2: #7E22CE;
    --chart-color-8: #6B21A8;
    --chart-color-1: #581C87;
}